.git
.gitignore

.vscode
.DS_Store
Thumbs.db

README.md
start.sh

mc-data/world
mc-data/world_nether
mc-data/world_the_end

mc-data/logs
mc-data/crash-reports
mc-data/cache

mc-data/libraries
mc-data/*.jar
mc-data/version_history.json
